// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


/*
      <ion-title class="side-menu-title">Numerek</ion-title>
      <p class="title-describe">Aplikacja dla szkół</p>*/
* {
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial;
    color: #616161;
}

.side-menu-nav {
    box-shadow:: 0 0 1px #616161;
    height: 120px;
    position: relative;
}

.side-menu-logo {
  width: 50px;
  position: absolute;
  top: 30px;
  left: 20px;
}

.side-menu-title {
  position: absolute;
  top: 40px;
  left: 70px;
}

.side-menu-description {
  position: absolute;
  top: 65px;
  left: 83px;
  font-size: 15px;
  color: #151515;
}

.nav {
    box-shadow:: 0 0 1px #616161;
}

.menu {
    color: #212121;
}

.main {
    background: #E9EBEE;
}

.container {
    width: 100%;
    height: 100%;
}

.post {
  background: #FFFFFF;
  border: 1px solid #DDDEF2;
  border-radius: 3px;
}

.post-title {
  color: #363636;
  font-size: 20px;
  text-align: center;
  padding-bottom: 5px;
}
